.loginpage-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .auth-container {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .auths-container {
      display: flex;
      flex-direction: column;
      width: 80%;
    }
    .bottom-options {
      width: 100%;
      justify-content: end;
      display: flex;

      :nth-child(1) {
        margin-right: 20px;
      }
      .button {
        background: var(--secondary);
        border-radius: 10px;
        padding: 15px;
        transition: all 0.3s;
        cursor: pointer;

        a {
          text-decoration: none;
          margin: 0;
          color: white;
        }
        &:hover {
          transform: scale(1.1);
        }
        p {
          color: white;
          margin: 0;
        }
      }
    }
  }
}
.Login-Error {
  width: 100%;
  margin: 5px 0 0 30%;
  color: white;
}
.button {
  background: var(--secondary);
  border-radius: 10px;
  padding: 15px;
  transition: all 0.3s;
  cursor: pointer;
}
.auths {
  display: flex;
  margin: 0 0 25px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  p {
    color: white;
    margin: 0;
  }
  .login-error {
    margin: 5px auto 0 auto;
  }
  .field {
    width: 70%;
    height: 25px;
  }
}
